.help{
    font-size: 39px;


}
.title  {
    font-size: 70px;
    margin-bottom: 50px;
}
body {
    background-color: #D2B48C;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
p{
    padding: 0;
    margin: 30px;
}