.help{
    font-size: 36px;
}
.title  {
    font-size: 60px;
    /*color: 	#292421;*/
}
body {
    background-color: #c5bfad;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
p{
    font-weight:100;
    color:#ffffff;
    padding: 0;
    margin: 40px;
}
h1 {
    font-size: 80px;
    color:#ffffff;
    font-weight:300;
}

#return{
    background-color:#c5bfad; /* Green */
    width:400px;
    border: #ffffff solid;
    color: #ffffff;
    padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    margin: auto;
    font-size: 70px;
}
#parent {
    width: 100%; /* 宽度值，随便啦 */
    height: 100%;  /* 高度值，随便啦 */
    margin-top: 100px;
}

