@font-face {
    font-family: 'new';
    src: url('../方正喵呜体.ttf');
    font-weight: normal;
    font-style: normal;
}
#container{
    position: relative;
    background: url(../images/menu.png);
    width: 10rem;
    height: 16rem ;
    background-size:cover;
}
#gameWithoutNet{
    /*background: url(../images/sheep.gif);*/
    font-family:new;
    position:absolute;
    top: 5.9rem;
    left: 3rem;
    border: solid #B2B1B1 10px;
    color: #e89c69;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
}
#gameWithNet{
    /*background: url(../images/sheep.gif);*/
    font-family:new;
    position:absolute;
    top: 8.4rem;
    left: 3rem;
    border: solid #B2B1B1 10px;
    color: #e89c69;
    padding: 25px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
}
#gameHelp{
    /*background: url(../images/sheep.gif);*/
    font-family:new;
    position:absolute;
    top: 10.9rem;
    left: 3rem;
    border: solid #B2B1B1 10px;
    color: #e89c69;
    padding: 25px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
}
/*#gameHelp{*/
    /*background-color: #4CAF50; !* Green *!*/
    /*!*background: url(../images/sheep.gif);*!*/
    /*position:absolute;*/
    /*top: 10.5rem;*/
    /*left: 3rem;*/
    /*border: none;*/
    /*color: white;*/
    /*padding: 25px 55px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 0.8rem;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
/*}*/
#gameWithoutNet:active{
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
#gameWithNet:active{
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
#gameHelp:active{
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

footer {
    font-size: 40px;
    position:absolute;
    bottom:5px;
    text-align: center;

}