#newroom{
    background-color: #4CAF50; /* Green */
    /*background: url(../images/sheep.gif);*/
    position:absolute;
    top: 5rem;
    left: 3rem;
    border: none;
    color: white;
    padding: 25px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#joinroom{
    background-color: #4CAF50; /* Green */
    /*background: url(../images/sheep.gif);*/
    position:absolute;
    top: 8rem;
    left: 3rem;
    border: none;
    color: white;
    padding: 25px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}